<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Responsive + Encoding Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next/dist/vue.global.prod.js"></script>
<script src = "./scripts.js"></script>
    <!-- Stylesheet -->
    <link href = "styles.css" rel = "stylesheet">
    <!-- Title -->
    <title>Vue.JS and ORDS</title>
    <link rel="icon" type="image/x-icon" href="./favicon.ico">
</head>
<body >
    <div id="main">
        <h1>Vue.JS and ORDS</h1>
            <div class="table-responsive">
                <table class="table-hover" v-if="customers">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Email Address</th>
                            <th>Full Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item) in customers">
                            <td>{{ item.customer_id }}</td>
                            <td>{{ item.email_address }}</td>
                            <td>{{ item.full_name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>     
    </div>
</body>
<!-- Vue and Custom JavaScript -->
<script>
    const mountedApp = app.mount('#main')
  </script>
</html>