table {
    border: 2px solid #aa4b0b;
    border-radius: 3px;
    background-color: #fff;
  }
  
  th {
    background-color: #aa4b0b;
    color: #fff;
  }
  
  td {
    background-color: #f9f9f9;
  }
  
  th,
  td {
    min-width: 120px;
    padding: 10px 20px;
  }
  
  th.active {
    color: #fff;
  }